In [2]:
import pandas as pd
age = pd.Series([10,13,9,16],index=['Bill','Peixin','Carlo','Thahn'],name='ages')
print(age)

Bill      10
Peixin    13
Carlo      9
Thahn     16
Name: ages, dtype: int64

In [3]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [6]:
dataDoL={'name':['Bella','Charlie','Lucy','Coooper','Max','Stella','Bernie'],         
        'breed':['Labrador','Poodle','ChowChow','Schnauzer','Labrador',
                 'Chihuahua','St.Bernard'],
        'color': ['Brown','Black','Brown','Gray','Black','Tan','White'],
        'height_cm':[56,43,46,49,59,18,77],
        'weight_kg':[24,24,24,17,29,2,74],
        'date_of_birth':['2013-07-01','2016-09-16','2014-08-25',
                         '2011-12-11','2017-01-28','2015-04-20',
                         '2018-02-27']}

dogs = pd.DataFrame(dataDoL)
print(dogs)

      name       breed  color  height_cm  weight_kg date_of_birth
0    Bella    Labrador  Brown         56         24    2013-07-01
1  Charlie      Poodle  Black         43         24    2016-09-16
2     Lucy    ChowChow  Brown         46         24    2014-08-25
3  Coooper   Schnauzer   Gray         49         17    2011-12-11
4      Max    Labrador  Black         59         29    2017-01-28
5   Stella   Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St.Bernard  White         77         74    2018-02-27

In [8]:
indicatorDoL = {
  'country': ['Canada', 'China', 'India',
              'Russia', 'United States', 'Vietnam'],
  'pop': [36.26, 1378.66, 1324.17, 144.34, 323.13, 94.59],
  'gdp': [1535.77, 11199.15, 2263.79, 1283.16, 18624.47,
          205.28],
  'life': [82.30, 76.25, 68.56, 71.59, 78.69, 76.25],
  'cell': [30.75, 1364.93, 1127.81, 229.13, 395.88, 120.60]}

codes = pd.Index(['CAN', 'CHN', 'IND', 'RUS', 'USA', 'VNM'],
                 name='code')

indicators = pd.DataFrame(indicatorDoL, index=codes)
print(indicators)

            country      pop       gdp   life     cell
code
CAN          Canada    36.26   1535.77  82.30    30.75
CHN           China  1378.66  11199.15  76.25  1364.93
IND           India  1324.17   2263.79  68.56  1127.81
RUS          Russia   144.34   1283.16  71.59   229.13
USA   United States   323.13  18624.47  78.69   395.88
VNM         Vietnam    94.59    205.28  76.25   120.60

In [9]:
print(dogs.values)
print(dogs.columns)
print(dogs.index)

[['Bella' 'Labrador' 'Brown' 56 24 '2013-07-01']
 ['Charlie' 'Poodle' 'Black' 43 24 '2016-09-16']
 ['Lucy' 'ChowChow' 'Brown' 46 24 '2014-08-25']
 ['Coooper' 'Schnauzer' 'Gray' 49 17 '2011-12-11']
 ['Max' 'Labrador' 'Black' 59 29 '2017-01-28']
 ['Stella' 'Chihuahua' 'Tan' 18 2 '2015-04-20']
 ['Bernie' 'St.Bernard' 'White' 77 74 '2018-02-27']]
Index(['name', 'breed', 'color', 'height_cm', 'weight_kg', 'date_of_birth'], dtype='object')
RangeIndex(start=0, stop=7, step=1)

In [12]:
df = pd.read_csv("gapminder.csv")
print("The data type of df is " + str(type(df)))


print('The shape of the dataframe is ' + str(df.shape))
print(df.head())

The data type of df is <class 'pandas.core.frame.DataFrame'>
The shape of the dataframe is (1704, 6)
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [14]:
print(df.describe())

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [15]:
print(dogs)

      name       breed  color  height_cm  weight_kg date_of_birth
0    Bella    Labrador  Brown         56         24    2013-07-01
1  Charlie      Poodle  Black         43         24    2016-09-16
2     Lucy    ChowChow  Brown         46         24    2014-08-25
3  Coooper   Schnauzer   Gray         49         17    2011-12-11
4      Max    Labrador  Black         59         29    2017-01-28
5   Stella   Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St.Bernard  White         77         74    2018-02-27

In [19]:
Name = dogs['name']
print(Name)
print('\n')
print(type(Name))

0      Bella
1    Charlie
2       Lucy
3    Coooper
4        Max
5     Stella
6     Bernie
Name: name, dtype: object


<class 'pandas.core.series.Series'>

In [20]:
print(dogs.name)

0      Bella
1    Charlie
2       Lucy
3    Coooper
4        Max
5     Stella
6     Bernie
Name: name, dtype: object

In [23]:
subtable = dogs[['height_cm','breed']]
print(subtable)
type(subtable)

   height_cm       breed
0         56    Labrador
1         43      Poodle
2         46    ChowChow
3         49   Schnauzer
4         59    Labrador
5         18   Chihuahua
6         77  St.Bernard

pandas.core.frame.DataFrame

In [24]:
indicators[3:5]

            country     pop       gdp   life    cell
code
RUS          Russia  144.34   1283.16  71.59  229.13
USA   United States  323.13  18624.47  78.69  395.88

In [26]:
subrows = indicators[3:5]
print(subrows)

            country     pop       gdp   life    cell
code
RUS          Russia  144.34   1283.16  71.59  229.13
USA   United States  323.13  18624.47  78.69  395.88

In [27]:
print(indicators)

            country      pop       gdp   life     cell
code
CAN          Canada    36.26   1535.77  82.30    30.75
CHN           China  1378.66  11199.15  76.25  1364.93
IND           India  1324.17   2263.79  68.56  1127.81
RUS          Russia   144.34   1283.16  71.59   229.13
USA   United States   323.13  18624.47  78.69   395.88
VNM         Vietnam    94.59    205.28  76.25   120.60

In [28]:
print(indicators[:2])

     country      pop       gdp   life     cell
code
CAN   Canada    36.26   1535.77  82.30    30.75
CHN    China  1378.66  11199.15  76.25  1364.93

In [29]:
print(indicators['IND':'USA'])

            country      pop       gdp   life     cell
code
IND           India  1324.17   2263.79  68.56  1127.81
RUS          Russia   144.34   1283.16  71.59   229.13
USA   United States   323.13  18624.47  78.69   395.88

In [30]:
print(indicators['VNM':'RUS':-1])

            country     pop       gdp   life    cell
code
VNM         Vietnam   94.59    205.28  76.25  120.60
USA   United States  323.13  18624.47  78.69  395.88
RUS          Russia  144.34   1283.16  71.59  229.13

In [33]:
print(indicators.loc['VNM', 'gdp'])

205.28

In [34]:
indicators.loc['VNM', 'gdp']

205.28

In [35]:
topnames

NameError: name 'topnames' is not defined

In [37]:
print(indicators.loc[:, 'pop'])

code
CAN      36.26
CHN    1378.66
IND    1324.17
RUS     144.34
USA     323.13
VNM      94.59
Name: pop, dtype: float64

In [38]:
print(indicators.iloc[1:3, :])

     country      pop       gdp   life     cell
code
CHN    China  1378.66  11199.15  76.25  1364.93
IND    India  1324.17   2263.79  68.56  1127.81

In [39]:
print(indicators.loc['USA', ['country', 'life', 'cell']])

country    United States
life               78.69
cell              395.88
Name: USA, dtype: object

In [40]:
indicators

            country      pop       gdp   life     cell
code
CAN          Canada    36.26   1535.77  82.30    30.75
CHN           China  1378.66  11199.15  76.25  1364.93
IND           India  1324.17   2263.79  68.56  1127.81
RUS          Russia   144.34   1283.16  71.59   229.13
USA   United States   323.13  18624.47  78.69   395.88
VNM         Vietnam    94.59    205.28  76.25   120.60

In [41]:
print(indicators.iloc[4, [0, 3, 4]])

country    United States
life               78.69
cell              395.88
Name: USA, dtype: object

In [43]:
test = indicators.loc['USA', ['country', 'life', 'cell']]
type(test)

pandas.core.series.Series

In [44]:
print(indicators.loc[ indicators.gdp < 2000, ['country', 'pop']])

      country     pop
code
CAN    Canada   36.26
RUS    Russia  144.34
VNM   Vietnam   94.59