In [2]:
%load_ext sql

In [3]:
%sql sqlite:///C:\Users\bilene\Downloads\book.db

In [5]:
output = %sql SELECT * FROM indicators0

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

In [8]:
output

[('CHN', 1386.4, 12143.5, 76.4, 1469.88),
 ('FRA', 66.87, 2586.29, 82.5, 69.02),
 ('GBR', 66.06, 2637.87, 81.2, 79.1),
 ('IND', 1338.66, 2652.55, 68.8, 1168.9),
 ('USA', 325.15, 19485.4, 78.5, 391.6)]

In [10]:
import pandas as pd
df = pd.DataFrame(output)
print(df)

  code      pop       gdp  life     cell
0  CHN  1386.40  12143.50  76.4  1469.88
1  FRA    66.87   2586.29  82.5    69.02
2  GBR    66.06   2637.87  81.2    79.10
3  IND  1338.66   2652.55  68.8  1168.90
4  USA   325.15  19485.40  78.5   391.60

In [24]:
%%sql
SELECT * FROM indicators
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1960, 'ABW', 0.05, None, 65.7, 0.0, None, None),
 (1960, 'AFG', 9.0, 0.54, 32.3, 0.0, None, 49.9),
 (1960, 'AGO', 5.45, None, 33.3, 0.0, 127.5, 123.3),
 (1960, 'ALB', 1.61, None, 62.3, 0.0, None, None),
 (1960, 'AND', 0.01, None, None, 0.0, None, None)]

In [15]:
%%sql
output2 <<
SELECT * FROM indicators

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.
Returning data to local variable output2

In [16]:
pd.DataFrame(output2)

       year code    pop     gdp  life  cell  imports  exports
0      1960  ABW   0.05     NaN  65.7   0.0      NaN      NaN
1      1960  AFG   9.00    0.54  32.3   0.0      NaN     49.9
2      1960  AGO   5.45     NaN  33.3   0.0    127.5    123.3
3      1960  ALB   1.61     NaN  62.3   0.0      NaN      NaN
4      1960  AND   0.01     NaN   NaN   0.0      NaN      NaN
...     ...  ...    ...     ...   ...   ...      ...      ...
12857  2018  XKX   1.85    7.90   NaN   NaN      NaN      NaN
12858  2018  YEM  28.50   26.91   NaN   NaN      NaN      NaN
12859  2018  ZAF  57.78  366.30   NaN   NaN      NaN      NaN
12860  2018  ZMB  17.35   26.72   NaN   NaN      NaN      NaN
12861  2018  ZWE  14.44   31.00   NaN   NaN      NaN      NaN

[12862 rows x 8 columns]

In [18]:
%%sql
--Here is a one line comment
/* Here is a multi line comment,
My comment continues here,
And it ends here */
SELECT * FROM indicators0

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('CHN', 1386.4, 12143.5, 76.4, 1469.88),
 ('FRA', 66.87, 2586.29, 82.5, 69.02),
 ('GBR', 66.06, 2637.87, 81.2, 79.1),
 ('IND', 1338.66, 2652.55, 68.8, 1168.9),
 ('USA', 325.15, 19485.4, 78.5, 391.6)]

In [21]:
%%sql
-- This is to see what tables exist in the database
SELECT name FROM sqlite_master
WHERE type='table'

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('countries',), ('indicators',), ('indicators0',), ('topnames',)]

In [22]:
%%sql
SELECT * from countries
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('ABW', 'Aruba', 'Latin America & Caribbean', 'High income', 180.0),
 ('AFG', 'Afghanistan', 'South Asia', 'Low income', 652860.0),
 ('AGO', 'Angola', 'Sub-Saharan Africa', 'Lower middle income', 1246700.0),
 ('ALB', 'Albania', 'Europe & Central Asia', 'Upper middle income', 27400.0),
 ('AND', 'Andorra', 'Europe & Central Asia', 'High income', 470.0)]

In [27]:
%%sql
PRAGMA table_info(countries)

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(0, 'code', 'char(3)', 1, None, 1),
 (1, 'country', 'varchar(64)', 0, 'NULL', 0),
 (2, 'region', 'varchar(64)', 0, 'NULL', 0),
 (3, 'income', 'varchar(64)', 0, 'NULL', 0),
 (4, 'land', 'float', 0, 'NULL', 0)]

In [4]:
%%sql
SELECT * FROM topnames
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Female', 'Mary', 7065),
 (1880, 'Male', 'John', 9655),
 (1881, 'Female', 'Mary', 6919),
 (1881, 'Male', 'John', 8769),
 (1882, 'Female', 'Mary', 8148)]

In [5]:
%%sql
-- only grabs the columns you listed
SELECT year, name FROM topnames
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Mary'),
 (1880, 'John'),
 (1881, 'Mary'),
 (1881, 'John'),
 (1882, 'Mary')]

In [7]:
%%sql
-- aliases for columns
SELECT year AS myyear, name AS babyname FROM topnames
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Mary'),
 (1880, 'John'),
 (1881, 'Mary'),
 (1881, 'John'),
 (1882, 'Mary')]

In [8]:
%%sql
--return data post 2000 (including 2000).
SELECT * FROM topnames
WHERE year>=2000
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Female', 'Emily', 25057),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Female', 'Emily', 24464)]

In [10]:
%%sql
--return data post 2000 (including 2000) only for Female baby names. Use "AND"
SELECT * FROM topnames
WHERE year>=2000 AND sex=="Female"
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2001, 'Female', 'Emily', 25057),
 (2002, 'Female', 'Emily', 24464),
 (2003, 'Female', 'Emily', 25691),
 (2004, 'Female', 'Emily', 25037)]

In [11]:
%%sql
--return data post 2000 (including 2000) only for Female baby names. Use "AND"
-- Note that "=" instead of "==" is the SQL way of checking equivalence
SELECT * FROM topnames
WHERE year>=2000 AND sex="Female"
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2001, 'Female', 'Emily', 25057),
 (2002, 'Female', 'Emily', 24464),
 (2003, 'Female', 'Emily', 25691),
 (2004, 'Female', 'Emily', 25037)]

In [12]:
%%sql
SELECT * FROM topnames
WHERE name!='John'
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Female', 'Mary', 7065),
 (1881, 'Female', 'Mary', 6919),
 (1882, 'Female', 'Mary', 8148),
 (1883, 'Female', 'Mary', 8012),
 (1884, 'Female', 'Mary', 9217)]

In [13]:
%%sql
-- SQL way of doing it
SELECT * FROM topnames
WHERE name<>'John'
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Female', 'Mary', 7065),
 (1881, 'Female', 'Mary', 6919),
 (1882, 'Female', 'Mary', 8148),
 (1883, 'Female', 'Mary', 8012),
 (1884, 'Female', 'Mary', 9217)]

In [14]:
%%sql
-- return baby names post 2000 (included) and only the baby names Emily and Jacob
-- return all data
-- use parantheses; "AND", "OR"
SELECT * FROM topnames
WHERE year>=2000 AND (name='Emily' OR name='Jacob')

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Female', 'Emily', 25057),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Female', 'Emily', 24464),
 (2002, 'Male', 'Jacob', 30574),
 (2003, 'Female', 'Emily', 25691),
 (2003, 'Male', 'Jacob', 29638),
 (2004, 'Female', 'Emily', 25037),
 (2004, 'Male', 'Jacob', 27881),
 (2005, 'Female', 'Emily', 23940),
 (2005, 'Male', 'Jacob', 25833),
 (2006, 'Female', 'Emily', 21404),
 (2006, 'Male', 'Jacob', 24845),
 (2007, 'Female', 'Emily', 19355),
 (2007, 'Male', 'Jacob', 24282),
 (2008, 'Male', 'Jacob', 22594),
 (2009, 'Male', 'Jacob', 21175),
 (2010, 'Male', 'Jacob', 22127),
 (2011, 'Male', 'Jacob', 20371),
 (2012, 'Male', 'Jacob', 19074)]

In [15]:
%%sql
-- "IN" approach similar to "isin() in pandas"
SELECT * FROM topnames
WHERE year>=2000 AND name IN ('Emily','Jacob')

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Female', 'Emily', 25057),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Female', 'Emily', 24464),
 (2002, 'Male', 'Jacob', 30574),
 (2003, 'Female', 'Emily', 25691),
 (2003, 'Male', 'Jacob', 29638),
 (2004, 'Female', 'Emily', 25037),
 (2004, 'Male', 'Jacob', 27881),
 (2005, 'Female', 'Emily', 23940),
 (2005, 'Male', 'Jacob', 25833),
 (2006, 'Female', 'Emily', 21404),
 (2006, 'Male', 'Jacob', 24845),
 (2007, 'Female', 'Emily', 19355),
 (2007, 'Male', 'Jacob', 24282),
 (2008, 'Male', 'Jacob', 22594),
 (2009, 'Male', 'Jacob', 21175),
 (2010, 'Male', 'Jacob', 22127),
 (2011, 'Male', 'Jacob', 20371),
 (2012, 'Male', 'Jacob', 19074)]

In [16]:
%%sql
-- filter data to years between 2000 and 2010 inclusive.
SELECT * FROM topnames
WHERE year>=2000 AND year<=2010

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Female', 'Emily', 25057),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Female', 'Emily', 24464),
 (2002, 'Male', 'Jacob', 30574),
 (2003, 'Female', 'Emily', 25691),
 (2003, 'Male', 'Jacob', 29638),
 (2004, 'Female', 'Emily', 25037),
 (2004, 'Male', 'Jacob', 27881),
 (2005, 'Female', 'Emily', 23940),
 (2005, 'Male', 'Jacob', 25833),
 (2006, 'Female', 'Emily', 21404),
 (2006, 'Male', 'Jacob', 24845),
 (2007, 'Female', 'Emily', 19355),
 (2007, 'Male', 'Jacob', 24282),
 (2008, 'Female', 'Emma', 18813),
 (2008, 'Male', 'Jacob', 22594),
 (2009, 'Female', 'Isabella', 22306),
 (2009, 'Male', 'Jacob', 21175),
 (2010, 'Female', 'Isabella', 22913),
 (2010, 'Male', 'Jacob', 22127)]

In [17]:
%%sql
-- SQL way of doing it
SELECT * FROM topnames
WHERE year BETWEEN 2000 AND 2010

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(2000, 'Female', 'Emily', 25956),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Female', 'Emily', 25057),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Female', 'Emily', 24464),
 (2002, 'Male', 'Jacob', 30574),
 (2003, 'Female', 'Emily', 25691),
 (2003, 'Male', 'Jacob', 29638),
 (2004, 'Female', 'Emily', 25037),
 (2004, 'Male', 'Jacob', 27881),
 (2005, 'Female', 'Emily', 23940),
 (2005, 'Male', 'Jacob', 25833),
 (2006, 'Female', 'Emily', 21404),
 (2006, 'Male', 'Jacob', 24845),
 (2007, 'Female', 'Emily', 19355),
 (2007, 'Male', 'Jacob', 24282),
 (2008, 'Female', 'Emma', 18813),
 (2008, 'Male', 'Jacob', 22594),
 (2009, 'Female', 'Isabella', 22306),
 (2009, 'Male', 'Jacob', 21175),
 (2010, 'Female', 'Isabella', 22913),
 (2010, 'Male', 'Jacob', 22127)]

In [22]:
%%sql
--return baby names that start with "J"
SELECT * FROM topnames
WHERE name LIKE 'J%'

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Male', 'John', 9655),
 (1881, 'Male', 'John', 8769),
 (1882, 'Male', 'John', 9557),
 (1883, 'Male', 'John', 8894),
 (1884, 'Male', 'John', 9388),
 (1885, 'Male', 'John', 8756),
 (1886, 'Male', 'John', 9026),
 (1887, 'Male', 'John', 8110),
 (1888, 'Male', 'John', 9247),
 (1889, 'Male', 'John', 8548),
 (1890, 'Male', 'John', 8502),
 (1891, 'Male', 'John', 7680),
 (1892, 'Male', 'John', 9039),
 (1893, 'Male', 'John', 8049),
 (1894, 'Male', 'John', 8238),
 (1895, 'Male', 'John', 8320),
 (1896, 'Male', 'John', 8138),
 (1897, 'Male', 'John', 7550),
 (1898, 'Male', 'John', 8159),
 (1899, 'Male', 'John', 6990),
 (1900, 'Male', 'John', 9829),
 (1901, 'Male', 'John', 6900),
 (1902, 'Male', 'John', 7907),
 (1903, 'Male', 'John', 7608),
 (1904, 'Male', 'John', 8108),
 (1905, 'Male', 'John', 8060),
 (1906, 'Male', 'John', 8265),
 (1907, 'Male', 'John', 8983),
 (1908, 'Male', 'John', 9342),
 (1909, 'Male', 'John', 9591),
 (1910, 'Male', 'John', 11450),
 (1911, 'Male', 'John', 13446),
 (1912, 'Male', 'John', 24587),
 (1913, 'Male', 'John', 29329),
 (1914, 'Male', 'John', 37948),
 (1915, 'Male', 'John', 47576),
 (1916, 'Male', 'John', 50043),
 (1917, 'Male', 'John', 51853),
 (1918, 'Male', 'John', 56558),
 (1919, 'Male', 'John', 53528),
 (1920, 'Male', 'John', 56913),
 (1921, 'Male', 'John', 58217),
 (1922, 'Male', 'John', 57277),
 (1923, 'Male', 'John', 57470),
 (1940, 'Male', 'James', 62473),
 (1941, 'Male', 'James', 66736),
 (1942, 'Male', 'James', 77176),
 (1943, 'Male', 'James', 80261),
 (1944, 'Male', 'James', 76951),
 (1945, 'Male', 'James', 74449),
 (1946, 'Male', 'James', 87436),
 (1947, 'Male', 'James', 94757),
 (1948, 'Male', 'James', 88584),
 (1949, 'Male', 'James', 86857),
 (1950, 'Male', 'James', 86224),
 (1951, 'Male', 'James', 87261),
 (1952, 'Male', 'James', 87063),
 (1970, 'Female', 'Jennifer', 46157),
 (1971, 'Female', 'Jennifer', 56783),
 (1972, 'Female', 'Jennifer', 63603),
 (1973, 'Female', 'Jennifer', 62447),
 (1974, 'Female', 'Jennifer', 63114),
 (1975, 'Female', 'Jennifer', 58183),
 (1976, 'Female', 'Jennifer', 59474),
 (1977, 'Female', 'Jennifer', 58964),
 (1978, 'Female', 'Jennifer', 56321),
 (1979, 'Female', 'Jennifer', 56717),
 (1980, 'Female', 'Jennifer', 58375),
 (1981, 'Female', 'Jennifer', 57049),
 (1982, 'Female', 'Jennifer', 57117),
 (1983, 'Female', 'Jennifer', 54346),
 (1984, 'Female', 'Jennifer', 50559),
 (1985, 'Female', 'Jessica', 48347),
 (1986, 'Female', 'Jessica', 52677),
 (1987, 'Female', 'Jessica', 55994),
 (1988, 'Female', 'Jessica', 51543),
 (1989, 'Female', 'Jessica', 47884),
 (1990, 'Female', 'Jessica', 46475),
 (1993, 'Female', 'Jessica', 34987),
 (1994, 'Female', 'Jessica', 32117),
 (1995, 'Female', 'Jessica', 27938),
 (1999, 'Male', 'Jacob', 35363),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Male', 'Jacob', 30574),
 (2003, 'Male', 'Jacob', 29638),
 (2004, 'Male', 'Jacob', 27881),
 (2005, 'Male', 'Jacob', 25833),
 (2006, 'Male', 'Jacob', 24845),
 (2007, 'Male', 'Jacob', 24282),
 (2008, 'Male', 'Jacob', 22594),
 (2009, 'Male', 'Jacob', 21175),
 (2010, 'Male', 'Jacob', 22127),
 (2011, 'Male', 'Jacob', 20371),
 (2012, 'Male', 'Jacob', 19074)]

In [23]:
%%sql
--return baby names that start with "J" and end with "n"
SELECT * FROM topnames
WHERE name LIKE 'J%n'

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1880, 'Male', 'John', 9655),
 (1881, 'Male', 'John', 8769),
 (1882, 'Male', 'John', 9557),
 (1883, 'Male', 'John', 8894),
 (1884, 'Male', 'John', 9388),
 (1885, 'Male', 'John', 8756),
 (1886, 'Male', 'John', 9026),
 (1887, 'Male', 'John', 8110),
 (1888, 'Male', 'John', 9247),
 (1889, 'Male', 'John', 8548),
 (1890, 'Male', 'John', 8502),
 (1891, 'Male', 'John', 7680),
 (1892, 'Male', 'John', 9039),
 (1893, 'Male', 'John', 8049),
 (1894, 'Male', 'John', 8238),
 (1895, 'Male', 'John', 8320),
 (1896, 'Male', 'John', 8138),
 (1897, 'Male', 'John', 7550),
 (1898, 'Male', 'John', 8159),
 (1899, 'Male', 'John', 6990),
 (1900, 'Male', 'John', 9829),
 (1901, 'Male', 'John', 6900),
 (1902, 'Male', 'John', 7907),
 (1903, 'Male', 'John', 7608),
 (1904, 'Male', 'John', 8108),
 (1905, 'Male', 'John', 8060),
 (1906, 'Male', 'John', 8265),
 (1907, 'Male', 'John', 8983),
 (1908, 'Male', 'John', 9342),
 (1909, 'Male', 'John', 9591),
 (1910, 'Male', 'John', 11450),
 (1911, 'Male', 'John', 13446),
 (1912, 'Male', 'John', 24587),
 (1913, 'Male', 'John', 29329),
 (1914, 'Male', 'John', 37948),
 (1915, 'Male', 'John', 47576),
 (1916, 'Male', 'John', 50043),
 (1917, 'Male', 'John', 51853),
 (1918, 'Male', 'John', 56558),
 (1919, 'Male', 'John', 53528),
 (1920, 'Male', 'John', 56913),
 (1921, 'Male', 'John', 58217),
 (1922, 'Male', 'John', 57277),
 (1923, 'Male', 'John', 57470)]

In [24]:
%%sql
--return baby names that start with "J" and are 5 characters long
SELECT * FROM topnames
WHERE name LIKE 'J____'

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(1940, 'Male', 'James', 62473),
 (1941, 'Male', 'James', 66736),
 (1942, 'Male', 'James', 77176),
 (1943, 'Male', 'James', 80261),
 (1944, 'Male', 'James', 76951),
 (1945, 'Male', 'James', 74449),
 (1946, 'Male', 'James', 87436),
 (1947, 'Male', 'James', 94757),
 (1948, 'Male', 'James', 88584),
 (1949, 'Male', 'James', 86857),
 (1950, 'Male', 'James', 86224),
 (1951, 'Male', 'James', 87261),
 (1952, 'Male', 'James', 87063),
 (1999, 'Male', 'Jacob', 35363),
 (2000, 'Male', 'Jacob', 34477),
 (2001, 'Male', 'Jacob', 32545),
 (2002, 'Male', 'Jacob', 30574),
 (2003, 'Male', 'Jacob', 29638),
 (2004, 'Male', 'Jacob', 27881),
 (2005, 'Male', 'Jacob', 25833),
 (2006, 'Male', 'Jacob', 24845),
 (2007, 'Male', 'Jacob', 24282),
 (2008, 'Male', 'Jacob', 22594),
 (2009, 'Male', 'Jacob', 21175),
 (2010, 'Male', 'Jacob', 22127),
 (2011, 'Male', 'Jacob', 20371),
 (2012, 'Male', 'Jacob', 19074)]

In [33]:
%%sql
--filter for missing values?
SELECT * FROM countries
WHERE land IS NULL

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('CUW', 'Curacao', 'Latin America & Caribbean', 'High income', None),
 ('MAF', 'St. Martin (French part)', 'Latin America & Caribbean', 'High income', None),
 ('MCO', 'Monaco', 'Europe & Central Asia', 'High income', None),
 ('SDN', 'Sudan', 'Sub-Saharan Africa', 'Lower middle income', None),
 ('SSD', 'South Sudan', 'Sub-Saharan Africa', 'Low income', None),
 ('SXM', 'Sint Maarten (Dutch part)', 'Latin America & Caribbean', 'High income', None),
 ('XKX', 'Kosovo', 'Europe & Central Asia', 'Upper middle income', None)]

In [36]:
%%sql
--filter for non missing values?
SELECT * FROM countries
WHERE land IS NOT NULL
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('ABW', 'Aruba', 'Latin America & Caribbean', 'High income', 180.0),
 ('AFG', 'Afghanistan', 'South Asia', 'Low income', 652860.0),
 ('AGO', 'Angola', 'Sub-Saharan Africa', 'Lower middle income', 1246700.0),
 ('ALB', 'Albania', 'Europe & Central Asia', 'Upper middle income', 27400.0),
 ('AND', 'Andorra', 'Europe & Central Asia', 'High income', 470.0)]

In [38]:
%%sql
-- how many total obs?
SELECT COUNT(*) AS total_obs FROM countries

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(217,)]

In [39]:
%%sql
-- how many missing land obs?
SELECT COUNT(*) AS missing_obs FROM countries
WHERE land IS NULL

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(7,)]

In [41]:
%%sql
-- how to return the number of unique baby names in the topnames table?
SELECT COUNT(DISTINCT name) AS total FROM topnames

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(18,)]

In [42]:
%%sql
-- what are these unique baby names?
SELECT DISTINCT(name) FROM topnames

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('Mary',),
 ('John',),
 ('Robert',),
 ('James',),
 ('Linda',),
 ('Michael',),
 ('David',),
 ('Lisa',),
 ('Jennifer',),
 ('Jessica',),
 ('Ashley',),
 ('Emily',),
 ('Jacob',),
 ('Emma',),
 ('Isabella',),
 ('Sophia',),
 ('Noah',),
 ('Liam',)]

In [43]:
%%sql
-- create a new variable land_milesq that stores the km2 data stored in the column land
-- as milessq.
SELECT *, land*0.3861 AS land_milesq FROM countries
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('ABW', 'Aruba', 'Latin America & Caribbean', 'High income', 180.0, 69.498),
 ('AFG', 'Afghanistan', 'South Asia', 'Low income', 652860.0, 252069.246),
 ('AGO', 'Angola', 'Sub-Saharan Africa', 'Lower middle income', 1246700.0, 481350.87),
 ('ALB', 'Albania', 'Europe & Central Asia', 'Upper middle income', 27400.0, 10579.14),
 ('AND', 'Andorra', 'Europe & Central Asia', 'High income', 470.0, 181.467)]

In [49]:
%%sql
-- create a new binary variable "large_country" that equals 1 for countries whose land size is 
-- greater than 1 million kilometers squared.
SELECT *, land>1000000 AS large_country FROM countries
LIMIT 5

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('ABW', 'Aruba', 'Latin America & Caribbean', 'High income', 180.0, 0),
 ('AFG', 'Afghanistan', 'South Asia', 'Low income', 652860.0, 0),
 ('AGO', 'Angola', 'Sub-Saharan Africa', 'Lower middle income', 1246700.0, 1),
 ('ALB', 'Albania', 'Europe & Central Asia', 'Upper middle income', 27400.0, 0),
 ('AND', 'Andorra', 'Europe & Central Asia', 'High income', 470.0, 0)]

In [50]:
'Aruba' + ' ' + '(ABW)'

'Aruba (ABW)'

In [52]:
%%sql
-- create a new column named country2 that takes form of "country (code)"
SELECT *, country || ' (' || code || ')' AS countries2 FROM countries

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[('ABW', 'Aruba', 'Latin America & Caribbean', 'High income', 180.0, 'Aruba (ABW)'),
 ('AFG', 'Afghanistan', 'South Asia', 'Low income', 652860.0, 'Afghanistan (AFG)'),
 ('AGO', 'Angola', 'Sub-Saharan Africa', 'Lower middle income', 1246700.0, 'Angola (AGO)'),
 ('ALB', 'Albania', 'Europe & Central Asia', 'Upper middle income', 27400.0, 'Albania (ALB)'),
 ('AND', 'Andorra', 'Europe & Central Asia', 'High income', 470.0, 'Andorra (AND)'),
 ('ARE', 'United Arab Emirates', 'Middle East & North Africa', 'High income', 71020.0, 'United Arab Emirates (ARE)'),
 ('ARG', 'Argentina', 'Latin America & Caribbean', 'Upper middle income', 2736690.0, 'Argentina (ARG)'),
 ('ARM', 'Armenia', 'Europe & Central Asia', 'Upper middle income', 28470.0, 'Armenia (ARM)'),
 ('ASM', 'American Samoa', 'East Asia & Pacific', 'Upper middle income', 200.0, 'American Samoa (ASM)'),
 ('ATG', 'Antigua and Barbuda', 'Latin America & Caribbean', 'High income', 440.0, 'Antigua and Barbuda (ATG)'),
 ('AUS', 'Australia', 'East Asia & Pacific', 'High income', 7692020.0, 'Australia (AUS)'),
 ('AUT', 'Austria', 'Europe & Central Asia', 'High income', 82523.0, 'Austria (AUT)'),
 ('AZE', 'Azerbaijan', 'Europe & Central Asia', 'Upper middle income', 82670.0, 'Azerbaijan (AZE)'),
 ('BDI', 'Burundi', 'Sub-Saharan Africa', 'Low income', 25680.0, 'Burundi (BDI)'),
 ('BEL', 'Belgium', 'Europe & Central Asia', 'High income', 30280.0, 'Belgium (BEL)'),
 ('BEN', 'Benin', 'Sub-Saharan Africa', 'Low income', 112760.0, 'Benin (BEN)'),
 ('BFA', 'Burkina Faso', 'Sub-Saharan Africa', 'Low income', 273600.0, 'Burkina Faso (BFA)'),
 ('BGD', 'Bangladesh', 'South Asia', 'Lower middle income', 130170.0, 'Bangladesh (BGD)'),
 ('BGR', 'Bulgaria', 'Europe & Central Asia', 'Upper middle income', 108560.0, 'Bulgaria (BGR)'),
 ('BHR', 'Bahrain', 'Middle East & North Africa', 'High income', 778.0, 'Bahrain (BHR)'),
 ('BHS', 'Bahamas, The', 'Latin America & Caribbean', 'High income', 10010.0, 'Bahamas, The (BHS)'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe & Central Asia', 'Upper middle income', 51200.0, 'Bosnia and Herzegovina (BIH)'),
 ('BLR', 'Belarus', 'Europe & Central Asia', 'Upper middle income', 202988.0, 'Belarus (BLR)'),
 ('BLZ', 'Belize', 'Latin America & Caribbean', 'Upper middle income', 22810.0, 'Belize (BLZ)'),
 ('BMU', 'Bermuda', 'North America', 'High income', 54.0, 'Bermuda (BMU)'),
 ('BOL', 'Bolivia', 'Latin America & Caribbean', 'Lower middle income', 1083300.0, 'Bolivia (BOL)'),
 ('BRA', 'Brazil', 'Latin America & Caribbean', 'Upper middle income', 8358140.0, 'Brazil (BRA)'),
 ('BRB', 'Barbados', 'Latin America & Caribbean', 'High income', 430.0, 'Barbados (BRB)'),
 ('BRN', 'Brunei Darussalam', 'East Asia & Pacific', 'High income', 5270.0, 'Brunei Darussalam (BRN)'),
 ('BTN', 'Bhutan', 'South Asia', 'Lower middle income', 38144.0, 'Bhutan (BTN)'),
 ('BWA', 'Botswana', 'Sub-Saharan Africa', 'Upper middle income', 566730.0, 'Botswana (BWA)'),
 ('CAF', 'Central African Republic', 'Sub-Saharan Africa', 'Low income', 622980.0, 'Central African Republic (CAF)'),
 ('CAN', 'Canada', 'North America', 'High income', 9093510.0, 'Canada (CAN)'),
 ('CHE', 'Switzerland', 'Europe & Central Asia', 'High income', 39516.0, 'Switzerland (CHE)'),
 ('CHI', 'Channel Islands', 'Europe & Central Asia', 'High income', 198.0, 'Channel Islands (CHI)'),
 ('CHL', 'Chile', 'Latin America & Caribbean', 'High income', 743532.0, 'Chile (CHL)'),
 ('CHN', 'China', 'East Asia & Pacific', 'Upper middle income', 9388210.0, 'China (CHN)'),
 ('CIV', 'Cote dIvoire', 'Sub-Saharan Africa', 'Lower middle income', 318000.0, 'Cote dIvoire (CIV)'),
 ('CMR', 'Cameroon', 'Sub-Saharan Africa', 'Lower middle income', 472710.0, 'Cameroon (CMR)'),
 ('COD', 'Congo, Dem. Rep.', 'Sub-Saharan Africa', 'Low income', 2267050.0, 'Congo, Dem. Rep. (COD)'),
 ('COG', 'Congo, Rep.', 'Sub-Saharan Africa', 'Lower middle income', 341500.0, 'Congo, Rep. (COG)'),
 ('COL', 'Colombia', 'Latin America & Caribbean', 'Upper middle income', 1109500.0, 'Colombia (COL)'),
 ('COM', 'Comoros', 'Sub-Saharan Africa', 'Lower middle income', 1861.0, 'Comoros (COM)'),
 ('CPV', 'Cabo Verde', 'Sub-Saharan Africa', 'Lower middle income', 4030.0, 'Cabo Verde (CPV)'),
 ('CRI', 'Costa Rica', 'Latin America & Caribbean', 'Upper middle income', 51060.0, 'Costa Rica (CRI)'),
 ('CUB', 'Cuba', 'Latin America & Caribbean', 'Upper middle income', 104020.0, 'Cuba (CUB)'),
 ('CUW', 'Curacao', 'Latin America & Caribbean', 'High income', None, 'Curacao (CUW)'),
 ('CYM', 'Cayman Islands', 'Latin America & Caribbean', 'High income', 240.0, 'Cayman Islands (CYM)'),
 ('CYP', 'Cyprus', 'Europe & Central Asia', 'High income', 9240.0, 'Cyprus (CYP)'),
 ('CZE', 'Czech Republic', 'Europe & Central Asia', 'High income', 77220.0, 'Czech Republic (CZE)'),
 ('DEU', 'Germany', 'Europe & Central Asia', 'High income', 349360.0, 'Germany (DEU)'),
 ('DJI', 'Djibouti', 'Middle East & North Africa', 'Lower middle income', 23180.0, 'Djibouti (DJI)'),
 ('DMA', 'Dominica', 'Latin America & Caribbean', 'Upper middle income', 750.0, 'Dominica (DMA)'),
 ('DNK', 'Denmark', 'Europe & Central Asia', 'High income', 41990.0, 'Denmark (DNK)'),
 ('DOM', 'Dominican Republic', 'Latin America & Caribbean', 'Upper middle income', 48310.0, 'Dominican Republic (DOM)'),
 ('DZA', 'Algeria', 'Middle East & North Africa', 'Upper middle income', 2381740.0, 'Algeria (DZA)'),
 ('ECU', 'Ecuador', 'Latin America & Caribbean', 'Upper middle income', 248360.0, 'Ecuador (ECU)'),
 ('EGY', 'Egypt, Arab Rep.', 'Middle East & North Africa', 'Lower middle income', 995450.0, 'Egypt, Arab Rep. (EGY)'),
 ('ERI', 'Eritrea', 'Sub-Saharan Africa', 'Low income', 101000.0, 'Eritrea (ERI)'),
 ('ESP', 'Spain', 'Europe & Central Asia', 'High income', 499564.0, 'Spain (ESP)'),
 ('EST', 'Estonia', 'Europe & Central Asia', 'High income', 43470.0, 'Estonia (EST)'),
 ('ETH', 'Ethiopia', 'Sub-Saharan Africa', 'Low income', 1000000.0, 'Ethiopia (ETH)'),
 ('FIN', 'Finland', 'Europe & Central Asia', 'High income', 303910.0, 'Finland (FIN)'),
 ('FJI', 'Fiji', 'East Asia & Pacific', 'Upper middle income', 18270.0, 'Fiji (FJI)'),
 ('FRA', 'France', 'Europe & Central Asia', 'High income', 547557.0, 'France (FRA)'),
 ('FRO', 'Faroe Islands', 'Europe & Central Asia', 'High income', 1396.0, 'Faroe Islands (FRO)'),
 ('FSM', 'Micronesia, Fed. Sts.', 'East Asia & Pacific', 'Lower middle income', 700.0, 'Micronesia, Fed. Sts. (FSM)'),
 ('GAB', 'Gabon', 'Sub-Saharan Africa', 'Upper middle income', 257670.0, 'Gabon (GAB)'),
 ('GBR', 'United Kingdom', 'Europe & Central Asia', 'High income', 241930.0, 'United Kingdom (GBR)'),
 ('GEO', 'Georgia', 'Europe & Central Asia', 'Upper middle income', 69490.0, 'Georgia (GEO)'),
 ('GHA', 'Ghana', 'Sub-Saharan Africa', 'Lower middle income', 227540.0, 'Ghana (GHA)'),
 ('GIB', 'Gibraltar', 'Europe & Central Asia', 'High income', 10.0, 'Gibraltar (GIB)'),
 ('GIN', 'Guinea', 'Sub-Saharan Africa', 'Low income', 245720.0, 'Guinea (GIN)'),
 ('GMB', 'Gambia, The', 'Sub-Saharan Africa', 'Low income', 10120.0, 'Gambia, The (GMB)'),
 ('GNB', 'Guinea-Bissau', 'Sub-Saharan Africa', 'Low income', 28120.0, 'Guinea-Bissau (GNB)'),
 ('GNQ', 'Equatorial Guinea', 'Sub-Saharan Africa', 'Upper middle income', 28050.0, 'Equatorial Guinea (GNQ)'),
 ('GRC', 'Greece', 'Europe & Central Asia', 'High income', 128900.0, 'Greece (GRC)'),
 ('GRD', 'Grenada', 'Latin America & Caribbean', 'Upper middle income', 340.0, 'Grenada (GRD)'),
 ('GRL', 'Greenland', 'Europe & Central Asia', 'High income', 410450.0, 'Greenland (GRL)'),
 ('GTM', 'Guatemala', 'Latin America & Caribbean', 'Upper middle income', 107160.0, 'Guatemala (GTM)'),
 ('GUM', 'Guam', 'East Asia & Pacific', 'High income', 540.0, 'Guam (GUM)'),
 ('GUY', 'Guyana', 'Latin America & Caribbean', 'Upper middle income', 196850.0, 'Guyana (GUY)'),
 ('HKG', 'Hong Kong SAR, China', 'East Asia & Pacific', 'High income', 1050.0, 'Hong Kong SAR, China (HKG)'),
 ('HND', 'Honduras', 'Latin America & Caribbean', 'Lower middle income', 111890.0, 'Honduras (HND)'),
 ('HRV', 'Croatia', 'Europe & Central Asia', 'High income', 55960.0, 'Croatia (HRV)'),
 ('HTI', 'Haiti', 'Latin America & Caribbean', 'Low income', 27560.0, 'Haiti (HTI)'),
 ('HUN', 'Hungary', 'Europe & Central Asia', 'High income', 90530.0, 'Hungary (HUN)'),
 ('IDN', 'Indonesia', 'East Asia & Pacific', 'Lower middle income', 1811570.0, 'Indonesia (IDN)'),
 ('IMN', 'Isle of Man', 'Europe & Central Asia', 'High income', 570.0, 'Isle of Man (IMN)'),
 ('IND', 'India', 'South Asia', 'Lower middle income', 2973190.0, 'India (IND)'),
 ('IRL', 'Ireland', 'Europe & Central Asia', 'High income', 68890.0, 'Ireland (IRL)'),
 ('IRN', 'Iran, Islamic Rep.', 'Middle East & North Africa', 'Upper middle income', 1628760.0, 'Iran, Islamic Rep. (IRN)'),
 ('IRQ', 'Iraq', 'Middle East & North Africa', 'Upper middle income', 434128.0, 'Iraq (IRQ)'),
 ('ISL', 'Iceland', 'Europe & Central Asia', 'High income', 100250.0, 'Iceland (ISL)'),
 ('ISR', 'Israel', 'Middle East & North Africa', 'High income', 21640.0, 'Israel (ISR)'),
 ('ITA', 'Italy', 'Europe & Central Asia', 'High income', 294140.0, 'Italy (ITA)'),
 ('JAM', 'Jamaica', 'Latin America & Caribbean', 'Upper middle income', 10830.0, 'Jamaica (JAM)'),
 ('JOR', 'Jordan', 'Middle East & North Africa', 'Upper middle income', 88780.0, 'Jordan (JOR)'),
 ('JPN', 'Japan', 'East Asia & Pacific', 'High income', 364560.0, 'Japan (JPN)'),
 ('KAZ', 'Kazakhstan', 'Europe & Central Asia', 'Upper middle income', 2699700.0, 'Kazakhstan (KAZ)'),
 ('KEN', 'Kenya', 'Sub-Saharan Africa', 'Lower middle income', 569140.0, 'Kenya (KEN)'),
 ('KGZ', 'Kyrgyz Republic', 'Europe & Central Asia', 'Lower middle income', 191800.0, 'Kyrgyz Republic (KGZ)'),
 ('KHM', 'Cambodia', 'East Asia & Pacific', 'Lower middle income', 176520.0, 'Cambodia (KHM)'),
 ('KIR', 'Kiribati', 'East Asia & Pacific', 'Lower middle income', 810.0, 'Kiribati (KIR)'),
 ('KNA', 'St. Kitts and Nevis', 'Latin America & Caribbean', 'High income', 260.0, 'St. Kitts and Nevis (KNA)'),
 ('KOR', 'Korea, Rep.', 'East Asia & Pacific', 'High income', 97489.0, 'Korea, Rep. (KOR)'),
 ('KWT', 'Kuwait', 'Middle East & North Africa', 'High income', 17820.0, 'Kuwait (KWT)'),
 ('LAO', 'Lao PDR', 'East Asia & Pacific', 'Lower middle income', 230800.0, 'Lao PDR (LAO)'),
 ('LBN', 'Lebanon', 'Middle East & North Africa', 'Upper middle income', 10230.0, 'Lebanon (LBN)'),
 ('LBR', 'Liberia', 'Sub-Saharan Africa', 'Low income', 96320.0, 'Liberia (LBR)'),
 ('LBY', 'Libya', 'Middle East & North Africa', 'Upper middle income', 1759540.0, 'Libya (LBY)'),
 ('LCA', 'St. Lucia', 'Latin America & Caribbean', 'Upper middle income', 610.0, 'St. Lucia (LCA)'),
 ('LIE', 'Liechtenstein', 'Europe & Central Asia', 'High income', 160.0, 'Liechtenstein (LIE)'),
 ('LKA', 'Sri Lanka', 'South Asia', 'Upper middle income', 62710.0, 'Sri Lanka (LKA)'),
 ('LSO', 'Lesotho', 'Sub-Saharan Africa', 'Lower middle income', 30360.0, 'Lesotho (LSO)'),
 ('LTU', 'Lithuania', 'Europe & Central Asia', 'High income', 62642.0, 'Lithuania (LTU)'),
 ('LUX', 'Luxembourg', 'Europe & Central Asia', 'High income', 2430.0, 'Luxembourg (LUX)'),
 ('LVA', 'Latvia', 'Europe & Central Asia', 'High income', 62180.0, 'Latvia (LVA)'),
 ('MAC', 'Macao SAR, China', 'East Asia & Pacific', 'High income', 30.4, 'Macao SAR, China (MAC)'),
 ('MAF', 'St. Martin (French part)', 'Latin America & Caribbean', 'High income', None, 'St. Martin (French part) (MAF)'),
 ('MAR', 'Morocco', 'Middle East & North Africa', 'Lower middle income', 446300.0, 'Morocco (MAR)'),
 ('MCO', 'Monaco', 'Europe & Central Asia', 'High income', None, 'Monaco (MCO)'),
 ('MDA', 'Moldova', 'Europe & Central Asia', 'Lower middle income', 32890.0, 'Moldova (MDA)'),
 ('MDG', 'Madagascar', 'Sub-Saharan Africa', 'Low income', 581800.0, 'Madagascar (MDG)'),
 ('MDV', 'Maldives', 'South Asia', 'Upper middle income', 300.0, 'Maldives (MDV)'),
 ('MEX', 'Mexico', 'Latin America & Caribbean', 'Upper middle income', 1943950.0, 'Mexico (MEX)'),
 ('MHL', 'Marshall Islands', 'East Asia & Pacific', 'Upper middle income', 180.0, 'Marshall Islands (MHL)'),
 ('MKD', 'North Macedonia', 'Europe & Central Asia', 'Upper middle income', 25220.0, 'North Macedonia (MKD)'),
 ('MLI', 'Mali', 'Sub-Saharan Africa', 'Low income', 1220190.0, 'Mali (MLI)'),
 ('MLT', 'Malta', 'Middle East & North Africa', 'High income', 320.0, 'Malta (MLT)'),
 ('MMR', 'Myanmar', 'East Asia & Pacific', 'Lower middle income', 653080.0, 'Myanmar (MMR)'),
 ('MNE', 'Montenegro', 'Europe & Central Asia', 'Upper middle income', 13450.0, 'Montenegro (MNE)'),
 ('MNG', 'Mongolia', 'East Asia & Pacific', 'Lower middle income', 1553560.0, 'Mongolia (MNG)'),
 ('MNP', 'Northern Mariana Islands', 'East Asia & Pacific', 'High income', 460.0, 'Northern Mariana Islands (MNP)'),
 ('MOZ', 'Mozambique', 'Sub-Saharan Africa', 'Low income', 786380.0, 'Mozambique (MOZ)'),
 ('MRT', 'Mauritania', 'Sub-Saharan Africa', 'Lower middle income', 1030700.0, 'Mauritania (MRT)'),
 ('MUS', 'Mauritius', 'Sub-Saharan Africa', 'Upper middle income', 2030.0, 'Mauritius (MUS)'),
 ('MWI', 'Malawi', 'Sub-Saharan Africa', 'Low income', 94280.0, 'Malawi (MWI)'),
 ('MYS', 'Malaysia', 'East Asia & Pacific', 'Upper middle income', 328550.0, 'Malaysia (MYS)'),
 ('NAM', 'Namibia', 'Sub-Saharan Africa', 'Upper middle income', 823290.0, 'Namibia (NAM)'),
 ('NCL', 'New Caledonia', 'East Asia & Pacific', 'High income', 18280.0, 'New Caledonia (NCL)'),
 ('NER', 'Niger', 'Sub-Saharan Africa', 'Low income', 1266700.0, 'Niger (NER)'),
 ('NGA', 'Nigeria', 'Sub-Saharan Africa', 'Lower middle income', 910770.0, 'Nigeria (NGA)'),
 ('NIC', 'Nicaragua', 'Latin America & Caribbean', 'Lower middle income', 120340.0, 'Nicaragua (NIC)'),
 ('NLD', 'Netherlands', 'Europe & Central Asia', 'High income', 33690.0, 'Netherlands (NLD)'),
 ('NOR', 'Norway', 'Europe & Central Asia', 'High income', 365123.0, 'Norway (NOR)'),
 ('NPL', 'Nepal', 'South Asia', 'Low income', 143350.0, 'Nepal (NPL)'),
 ('NRU', 'Nauru', 'East Asia & Pacific', 'Upper middle income', 20.0, 'Nauru (NRU)'),
 ('NZL', 'New Zealand', 'East Asia & Pacific', 'High income', 263310.0, 'New Zealand (NZL)'),
 ('OMN', 'Oman', 'Middle East & North Africa', 'High income', 309500.0, 'Oman (OMN)'),
 ('PAK', 'Pakistan', 'South Asia', 'Lower middle income', 770880.0, 'Pakistan (PAK)'),
 ('PAN', 'Panama', 'Latin America & Caribbean', 'High income', 74340.0, 'Panama (PAN)'),
 ('PER', 'Peru', 'Latin America & Caribbean', 'Upper middle income', 1280000.0, 'Peru (PER)'),
 ('PHL', 'Philippines', 'East Asia & Pacific', 'Lower middle income', 298170.0, 'Philippines (PHL)'),
 ('PLW', 'Palau', 'East Asia & Pacific', 'High income', 460.0, 'Palau (PLW)'),
 ('PNG', 'Papua New Guinea', 'East Asia & Pacific', 'Lower middle income', 452860.0, 'Papua New Guinea (PNG)'),
 ('POL', 'Poland', 'Europe & Central Asia', 'High income', 306190.0, 'Poland (POL)'),
 ('PRI', 'Puerto Rico', 'Latin America & Caribbean', 'High income', 8870.0, 'Puerto Rico (PRI)'),
 ('PRK', 'Korea, Dem. Peoples Rep.', 'East Asia & Pacific', 'Low income', 120410.0, 'Korea, Dem. Peoples Rep. (PRK)'),
 ('PRT', 'Portugal', 'Europe & Central Asia', 'High income', 91605.6, 'Portugal (PRT)'),
 ('PRY', 'Paraguay', 'Latin America & Caribbean', 'Upper middle income', 397300.0, 'Paraguay (PRY)'),
 ('PSE', 'West Bank and Gaza', 'Middle East & North Africa', 'Lower middle income', 6020.0, 'West Bank and Gaza (PSE)'),
 ('PYF', 'French Polynesia', 'East Asia & Pacific', 'High income', 3660.0, 'French Polynesia (PYF)'),
 ('QAT', 'Qatar', 'Middle East & North Africa', 'High income', 11610.0, 'Qatar (QAT)'),
 ('ROU', 'Romania', 'Europe & Central Asia', 'Upper middle income', 230080.0, 'Romania (ROU)'),
 ('RUS', 'Russian Federation', 'Europe & Central Asia', 'Upper middle income', 16376900.0, 'Russian Federation (RUS)'),
 ('RWA', 'Rwanda', 'Sub-Saharan Africa', 'Low income', 24670.0, 'Rwanda (RWA)'),
 ('SAU', 'Saudi Arabia', 'Middle East & North Africa', 'High income', 2149690.0, 'Saudi Arabia (SAU)'),
 ('SDN', 'Sudan', 'Sub-Saharan Africa', 'Lower middle income', None, 'Sudan (SDN)'),
 ('SEN', 'Senegal', 'Sub-Saharan Africa', 'Lower middle income', 192530.0, 'Senegal (SEN)'),
 ('SGP', 'Singapore', 'East Asia & Pacific', 'High income', 709.0, 'Singapore (SGP)'),
 ('SLB', 'Solomon Islands', 'East Asia & Pacific', 'Lower middle income', 27990.0, 'Solomon Islands (SLB)'),
 ('SLE', 'Sierra Leone', 'Sub-Saharan Africa', 'Low income', 72180.0, 'Sierra Leone (SLE)'),
 ('SLV', 'El Salvador', 'Latin America & Caribbean', 'Lower middle income', 20720.0, 'El Salvador (SLV)'),
 ('SMR', 'San Marino', 'Europe & Central Asia', 'High income', 60.0, 'San Marino (SMR)'),
 ('SOM', 'Somalia', 'Sub-Saharan Africa', 'Low income', 627340.0, 'Somalia (SOM)'),
 ('SRB', 'Serbia', 'Europe & Central Asia', 'Upper middle income', 87460.0, 'Serbia (SRB)'),
 ('SSD', 'South Sudan', 'Sub-Saharan Africa', 'Low income', None, 'South Sudan (SSD)'),
 ('STP', 'SÃ£o TomÃ© and Principe', 'Sub-Saharan Africa', 'Lower middle income', 960.0, 'SÃ£o TomÃ© and Principe (STP)'),
 ('SUR', 'Suriname', 'Latin America & Caribbean', 'Upper middle income', 156000.0, 'Suriname (SUR)'),
 ('SVK', 'Slovak Republic', 'Europe & Central Asia', 'High income', 48080.0, 'Slovak Republic (SVK)'),
 ('SVN', 'Slovenia', 'Europe & Central Asia', 'High income', 20142.0, 'Slovenia (SVN)'),
 ('SWE', 'Sweden', 'Europe & Central Asia', 'High income', 407310.0, 'Sweden (SWE)'),
 ('SWZ', 'Eswatini', 'Sub-Saharan Africa', 'Lower middle income', 17200.0, 'Eswatini (SWZ)'),
 ('SXM', 'Sint Maarten (Dutch part)', 'Latin America & Caribbean', 'High income', None, 'Sint Maarten (Dutch part) (SXM)'),
 ('SYC', 'Seychelles', 'Sub-Saharan Africa', 'High income', 460.0, 'Seychelles (SYC)'),
 ('SYR', 'Syrian Arab Republic', 'Middle East & North Africa', 'Low income', 183630.0, 'Syrian Arab Republic (SYR)'),
 ('TCA', 'Turks and Caicos Islands', 'Latin America & Caribbean', 'High income', 950.0, 'Turks and Caicos Islands (TCA)'),
 ('TCD', 'Chad', 'Sub-Saharan Africa', 'Low income', 1259200.0, 'Chad (TCD)'),
 ('TGO', 'Togo', 'Sub-Saharan Africa', 'Low income', 54390.0, 'Togo (TGO)'),
 ('THA', 'Thailand', 'East Asia & Pacific', 'Upper middle income', 510890.0, 'Thailand (THA)'),
 ('TJK', 'Tajikistan', 'Europe & Central Asia', 'Low income', 138790.0, 'Tajikistan (TJK)'),
 ('TKM', 'Turkmenistan', 'Europe & Central Asia', 'Upper middle income', 469930.0, 'Turkmenistan (TKM)'),
 ('TLS', 'Timor-Leste', 'East Asia & Pacific', 'Lower middle income', 14870.0, 'Timor-Leste (TLS)'),
 ('TON', 'Tonga', 'East Asia & Pacific', 'Upper middle income', 720.0, 'Tonga (TON)'),
 ('TTO', 'Trinidad and Tobago', 'Latin America & Caribbean', 'High income', 5130.0, 'Trinidad and Tobago (TTO)'),
 ('TUN', 'Tunisia', 'Middle East & North Africa', 'Lower middle income', 155360.0, 'Tunisia (TUN)'),
 ('TUR', 'Turkey', 'Europe & Central Asia', 'Upper middle income', 769630.0, 'Turkey (TUR)'),
 ('TUV', 'Tuvalu', 'East Asia & Pacific', 'Upper middle income', 30.0, 'Tuvalu (TUV)'),
 ('TZA', 'Tanzania', 'Sub-Saharan Africa', 'Low income', 885800.0, 'Tanzania (TZA)'),
 ('UGA', 'Uganda', 'Sub-Saharan Africa', 'Low income', 200520.0, 'Uganda (UGA)'),
 ('UKR', 'Ukraine', 'Europe & Central Asia', 'Lower middle income', 579290.0, 'Ukraine (UKR)'),
 ('URY', 'Uruguay', 'Latin America & Caribbean', 'High income', 175020.0, 'Uruguay (URY)'),
 ('USA', 'United States', 'North America', 'High income', 9147420.0, 'United States (USA)'),
 ('UZB', 'Uzbekistan', 'Europe & Central Asia', 'Lower middle income', 425400.0, 'Uzbekistan (UZB)'),
 ('VCT', 'St. Vincent and the Grenadines', 'Latin America & Caribbean', 'Upper middle income', 390.0, 'St. Vincent and the Grenadines (VCT)'),
 ('VEN', 'Venezuela, RB', 'Latin America & Caribbean', 'Upper middle income', 882050.0, 'Venezuela, RB (VEN)'),
 ('VGB', 'British Virgin Islands', 'Latin America & Caribbean', 'High income', 150.0, 'British Virgin Islands (VGB)'),

In [58]:
%%sql
-- how to next sql queries?
SELECT COUNT(*) AS total_obs, (SELECT COUNT(*) FROM countries WHERE land is NULL) AS missing_obs 
FROM countries

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(217, 7)]

In [60]:
%%sql
-- average land size in km2
SELECT AVG(land) AS avg_land FROM countries

 * sqlite:///C:\Users\bilene\Downloads\book.db
Done.

[(606227.8095238095,)]

In [ ]:
%%sql
-- return countries whose land size is greater than the average land size in the data?
-- use nested queries where you combine finding the average with filtering using WHERE

In [ ]:
%%sql
-- create a new binary variable "large_country" that equals 1 for countries whose land size is 
-- greater than 1 million squared miles.
SELECT *, land*0.3861 AS land_milesq, land_milesq>1000000 AS large_country FROM countries